<html>
    <body>
        #macro( msg $key )
            $registerConfirmationBody.getMessage($key, null, $locale)
        #end
        <p style="margin:15px 0;">
            <b>#msg("email.header")</b>
        </p>
        <p style="margin:15px 0;">#msg("email.hello") ${userToRegister.Name}!</p>
        <p style="margin:15px 0;">#msg("email.completeSubscriptionDetails")</p>
        <p style="margin:15px 0 15px 30px;"><a href="${url}">${url}</a></p>
        <p style="margin:15px 0;">#msg("email.plainUrlDetails")</p>
        <p style="margin:15px 0 15px 30px;">${url}</p>
        <p style="margin:15px 0;">#msg("email.ignoreEmailInformation")</p>
        <p style="margin:15px 0;">#msg("email.endGreetings"),<br />
            WebOrganizer.com</p>
    </body>
</html>